.main-title{
    color: #e2e1e1;
    text-align: center;
}
.news-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    /* display: flex;
    flex-direction: column; */
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.news-card{
    border: 1px solid #939393;
    margin: 10px;
    padding: 10px 10px 30px 10px;
    border-radius: 8px;
    width: 300px;
    background-color: #2c2b2b;
    position: relative;
}
.link{
    float: right;
    margin-bottom: 10px;
}
summary{
    width: 95%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    cursor: pointer;
    background-color: #d5e004;
    border-radius: 5px;
    color: #000;
    padding: 5px;
}
summary::marker{
    /* float: right; */
}
.type{
    position: absolute;
    border-radius: 0px 0px 8px 0px;
    background-color: #fff;
    right: 0;
    bottom: 0;
    padding: 0px 5px;
    color: #8b07bb;
    background-color: #000;
    text-transform: capitalize;

}
.title{
    color: #fff;

}